parameters:
    tmpDir: ./build/cache/phpstan
    treatPhpDocTypesAsCertain: false
    level: max
    paths:
        - ./examples
        - ./src
        - ./tests
    excludePaths:
        - ./vendor
